@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.header {
  max-width: 2034px;
  width: 100%;
  padding: 0px 40px 0px 40px;
  position: relative;
  background: url("../images/header/02.png") no-repeat;
  z-index: 2;
}
.header__top {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__language {
  display: flex;
  align-items: center;
}
.header__language p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  color: #FFFFFF;
  margin: 0;
}
.header__language-img {
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 8px;
}
.header__top-logo {
  width: 161px;
  height: 16px;
}
.header__body {
  padding: 18px 0px 18px 0px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  display: flex;
  align-items: center;
}
.header__title img {
  margin: 0px 16px 0px 0px;
}
.header__title p {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #222222;
  margin: 0;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  position: relative;
  margin: 0;
}
.header__list li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 40px;
  text-align: center;
}
.header__link {
  color: #222222;
  margin: 0;
  padding: 0;
}

@media (max-width: 1376px) {
  .header {
    padding: 0px 15px 0px 15px;
  }
}
@media (max-width: 958px) {
  .header__list li {
    font-size: 12px;
    margin: 0px 0px 0px 15px;
  }
  .header__title p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__title p {
    margin: 0px 15px 0px 0px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #3951E7;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #3951E7;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.9s ease 0s;
    background-color: #4278f7;
    padding: 70px 10px 20px 10px;
    align-items: start;
  }

  .header__menu.active {
    left: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
    text-align-last: left;
  }

  .header__link {
    font-size: 24px;
  }
}
.footer {
  width: 100%;
  background: #232473;
  padding: 32px 0px 0px 0px;
}
.footer__container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0px 15px 0px 15px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0px 24px 0px;
}
.footer__info {
  max-width: 310px;
}
.footer__info p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 28px 0px 0px 0px;
}
.footer__links {
  display: flex;
  margin: 0px 15px 0px 15px;
}
.footer__links-item {
  padding: 0;
}
.footer__links-item li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.footer__links-item li a {
  color: #FFFFFF;
}
.footer__links-item li:hover {
  opacity: 0.8;
}
.footer__links-item_margin_right {
  margin-right: 32px;
}
.footer__adress p {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__social p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  margin: 24px 0px 8px 0px;
}
.footer__social-icons a {
  margin: 0px 5px 0px 0px;
}
.footer__copyright {
  background: #1A1B57;
}
.footer__copyright-body {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}
.footer__copyright-body a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer__copyright-body {
    display: block;
  }
  .footer__copyright-body a {
    display: block;
  }
}
@media (max-width: 426px) {
  .footer__links {
    margin: 0px;
  }
  .footer__info {
    order: 3;
    margin: 30px 0px 0px 0px;
  }
  .footer__links {
    order: 1;
  }
  .footer__social-info {
    order: 2;
  }
}
@media (max-width: 374px) {
  .footer {
    padding: 20px 0px 0px 0px;
  }
  .footer__links {
    display: block;
  }
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
}
.bunner {
  width: 100%;
  height: 484px;
  background: url("../images/bunner/01.png") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
.bunner__title {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.bunner__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #F7F9FE;
  max-width: 696px;
  margin: 32px 0px 24px 0px;
}

.carousel {
  max-width: 1356px;
  width: 100%;
  padding: 0px 70px;
}

.carousel-control-prev {
  left: 0px;
}

.carousel-control-next {
  right: 0px;
}

.carousel-control-prev-icon {
  background-image: url(../images/bunner/prev.png);
  width: 40px;
  height: 40px;
}

.carousel-control-next-icon {
  background-image: url(../images/bunner/next.png);
  width: 40px;
  height: 40px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
}

@media (max-width: 767px) {
  .bunner__title {
    font-size: 36px;
    line-height: 46px;
  }
  .bunner__text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .bunner {
    padding: 0;
  }
  .bunner__title {
    font-size: 24px;
    line-height: 36px;
  }
  .bunner__text {
    font-size: 12px;
  }

  .carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 374px) {
  .carousel {
    padding: 0px 40px;
  }
}
.button {
  background: #F21F5B;
  border-radius: 50px;
  color: #F7F9FE;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  outline: 0 !important;
  border: 0;
}
.button:hover {
  opacity: 0.8;
}
.button__bunner {
  width: 136px;
  height: 48px;
}
.button__map {
  width: 186px;
  height: 40px;
  margin: 8px 0px 0px 0px;
}

.news {
  padding: 80px 0px 0px 0px;
  max-width: 1216px;
  margin: 0 auto;
}
.news__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news__item {
  max-width: 384px;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin: 40px 15px 0px 0px;
}
.news__item:nth-of-type(3n) {
  margin-right: 0;
}
.news__item img {
  height: auto;
  width: 100%;
  max-width: 384px;
}
.news__item-body {
  padding: 32px;
}
.news__item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin: 0;
  text-align: left;
}
.news__item-info {
  display: flex;
  justify-content: space-between;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.0002px;
  text-transform: uppercase;
  color: #6A6A6A;
}
.news__item-info-link {
  background: url("../images/news/icon.png") no-repeat;
  padding: 0px 0px 0px 24px;
}
.news__item-info-link a {
  color: #6A6A6A;
}

@media (max-width: 1181px) {
  .news {
    text-align: center;
  }
  .news__items {
    justify-content: center;
  }
  .news__item {
    margin: 40px 15px 0px 0px;
  }
  .news__item:nth-of-type(3n) {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .news {
    padding: 40px 0px 0px 0px;
  }
  .news__item {
    margin: 40px 0px 0px 0px;
  }
  .news__item:nth-of-type(3n) {
    margin-right: 0px;
  }

  .title__news {
    font-size: 30px;
    line-height: 30px;
  }
}
.disciplines {
  padding: 80px 0px 0px 0px;
  max-width: 1216px;
  margin: 0 auto;
}

/*Accordion*/
.accordion {
  max-width: 592px;
  width: 100%;
  margin: 32px auto 0px;
}

.accordion .accordion-head {
  border: 1px solid #EAEFFC;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 8px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

.accordion .accordion-head * {
  cursor: pointer;
}

.accordion .accordion-head h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0016px;
  color: #222222;
  margin: 0;
}

.accordion .accordion-body {
  border: 1px solid #EAEFFC;
  border-top: none;
  border-radius: 8px;
  padding: 16px 32px 0 32px;
  display: none;
}
.accordion .accordion-body p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0016px;
  color: #222222;
}

.arrow {
  margin: 10px 0px 0px 0px;
  background: url("../images/arrow-down.png") no-repeat;
  background-size: contain;
  width: 10px;
  height: 16px;
}

.accordion-head.open .arrow {
  background: url("../images/arrow-up.png") no-repeat;
  background-size: contain;
  width: 10px;
  height: 16px;
}

.close:focus, .close:hover {
  opacity: 1;
}

.close {
  opacity: 1;
}

.map {
  margin: 80px 0px 0px 0px;
  position: relative;
}
.map__form {
  margin: 80px 0px 0px 0px;
  max-width: 488px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 40px 71px;
}
.map__p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}
.map__p_adress {
  margin: 16px 0px 12px 0px;
}
.map__container {
  max-width: 1216px;
  width: 100%;
  height: 456px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(255, 0, 0, 0);
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 987px) {
  .map__form {
    margin: 40px 0px 0px 0px;
    max-width: 488px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 20px;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #23247382;
  transition: all 0.9s ease 0s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  z-index: 3;
  padding: 0px 15px 0px 15px;
}
.popup__content {
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px 15px 80px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 544px;
  width: 100%;
  text-align: center;
}
.popup__title {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 0px 0px 40px 0px;
}
.popup__close {
  text-align: right;
  cursor: pointer;
  padding: 0px 24px 0px 0px;
}
.popup__close:hover {
  opacity: 0.7;
}
.popup__submit {
  width: 161px;
  height: 48px;
  background: #3951E7;
  border-radius: 50px;
  margin: 32px 0px 0px 0px;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.form {
  max-width: 384px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.form p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #222222;
  margin: 0;
}
.form label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
}
.form label span {
  color: red;
  margin: 0px 0px 0px 3px;
}
.form textarea {
  margin: 0px 0px 24px 0px;
}

.form__input-container {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 384px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D6D7;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #C1C3C4;
  padding: 0px 0px 0px 16px;
  margin: 8px 0px 24px 0px;
}

.form__input-container:focus {
  outline-color: rgba(0, 0, 255, 0.2);
  outline-width: 1px;
}

.form__error {
  display: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media screen and (max-width: 424px) {
  .popup__title {
    font-size: 26px;
    margin: 20px 0px 40px 0px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 2034px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.title {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #222222;
  margin: 0;
}
.title__disciplines {
  text-align: center;
}