.button{
	background: #F21F5B;
	border-radius: 50px;
	color: #F7F9FE;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	outline: 0 !important;
	border: 0;
	&:hover{
		opacity: .8;
	}
	&__bunner{
		width: 136px;
		height: 48px;
	}
	&__map{
		width: 186px;
		height: 40px;
		margin: 8px 0px 0px 0px;
	}
}