@font-face {
	font-style: normal;
	font-weight: 600;
	font-family: "Muller";
	font-display: swap;
	src:
	  url("../fonts/MullerBold.woff2") format("woff2"),
	  url("../fonts/MullerBold.woff") format("woff");
 }