// Подключаем шрифты
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

// Шрифт по умолчанию
$fontfamili: "Lato";

// Подключаем файлы со стилями страниц и элементов
@import "header.scss";
@import "footer.scss";

// Обнуление: общие параметры
@import "null.scss";

// Миксины
@import "mixins.scss";

// Оболочка
.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

// Основной блок
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

// Основная сетка
.contaner {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}