.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: #23247382;
	transition: all .9s ease 0s;
	opacity: 0;
	visibility: hidden;
	display: flex;
	z-index: 3;
	padding: 0px 15px 0px 15px;
	//&__contaner{
	//	display: flex;
	//	flex-direction: column;
	//	max-width: 544px;
	//	width: 100%;
		
	//}
	&__content{
		background: #FFFFFF;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 16px;
		padding: 24px 15px 80px 15px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 544px;
		width: 100%;
		text-align: center;
	}
	&__title{
		font-family: Muller;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 38px;
		text-align: center;
		color: #000000;
		margin: 0px 0px 40px 0px;
	}
	&__close{
		text-align: right;
		cursor: pointer;
		padding: 0px 24px 0px 0px;
		&:hover{
			opacity: 0.7;
		}
	}
	&__submit{
		width: 161px;
		height: 48px;
		background: #3951E7;
		border-radius: 50px;
		margin: 32px 0px 0px 0px;
	}
}
.popup.active{
	opacity: 1;
	visibility: visible;
}


.form{
	max-width: 384px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	p{
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #222222;
		margin: 0;
	}
	label{
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #222222;
		span{
			color: red;
			margin: 0px 0px 0px 3px;
		}
	}
	textarea{
		margin: 0px 0px 24px 0px;
	}
}

.form__input-container{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 384px;
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #D4D6D7;
	box-sizing: border-box;
	border-radius: 2px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #C1C3C4;
	padding: 0px 0px 0px 16px;
	margin: 8px 0px 24px 0px;
}
.form__input-container:focus {
	outline-color: rgba(0, 0, 255, 0.2);
	outline-width: 1px;
}

.form__error {
	display: none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #FF0000;
}


//==============================================>
@media screen and (max-width: 424px){
	.popup{
		&__title{
			font-size: 26px;
			margin: 20px 0px 40px 0px;
		}
	}
	}